= form_for @article do |f|
  .field
    = f.label :title
    %br/
    = f.text_field :title, autofocus: true
  .field
    = f.label :category_id
    %br/
    = f.collection_select :category_id, Category.all, :id, :name
  .field
    = f.label :status
    %br/
    = f.select :status, Article.statuses.keys
  .field
    = f.label :visibility
    %br/
    = f.select :visibility, Article.visibilities.keys

  .actions
    = f.submit "Create"
